body {
  background-color: black;
  font-size: 0px;
  padding: 0px;
}

.top, .chip, .board, .row, .left, .right{
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}
.tilestatus {
  font-family: sans-serif;
  height: 50px;
  width: 100px;
  color: white;
  vertical-align: top;
  text-align: center;
  font-size: 10px;
  border-left: 1px solid red;
  border-right: 1px solid red;
  padding: 0px 10px 0px 10px
  border-radius: 5px;
}
.tileblank {
  font-family: sans-serif;
  height: 50px;
  width: 10px;
  color: white;
  vertical-align: top;
  text-align: center;
  font-size: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.tileboard {
  font-family: sans-serif;
  height: 50px;
  width: 50px;
  color: white;
  vertical-align: top;
  text-align: center;
  font-size: 10px;
  border: 1px solid green;
  border-radius: 1px;
}

.drop {

  animation: bounce 1500ms infinite ;
}

.tileboard:hover{
  cursor: pointer;
}
.tilechip {
  font-family: sans-serif;
  height: 50px;
  width: 50px;
  color: white;
  vertical-align: top;
  text-align: center;
  font-size: 10px;
  border: 1px solid blue;
  border-radius: 5px;
}

#lefttopstatus, #righttopblank1 {
  border-top: 1px solid red;
  border-radius: 5px;
}
#left0status, #right0status {
  border-bottom: 1px solid red;
  border-radius: 5px;
}
#left {
  font-family: sans-serif;
  height: 50px;
  width: 50px;
  color: white;
  vertical-align: top;
  text-align: center;
  font-size: 30px;
  border: 1px solid red;
  border-radius: 5px;
}
#chip0, #chip1, #chip2, #chip3, #chip4, #chip5, #chip6 {
  font-family: sans-serif;
  height: 50px;
  width: 50px;
  color: white;
  vertical-align: top;
  text-align: center;
  border: 1px solid blue;
  border-radius: 5px
}

@keyframes drop {
  0%, 100% {
    bottom: 0;
    animation-timing-function: ease-out;
  }
  50% {
    bottom: 360px;
    animation-timing-function: ease-in;
  }
}
