body {
  background-color: black;
  font-size: 0px;
  padding: 0px;
}

.top, .chip, .board, .row, .left, .right{
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}
.tilestatus {
  font-family: sans-serif;
  height: 50px;
  width: 100px;
  color: white;
  vertical-align: top;
  text-align: center;
  font-size: 10px;
  border: 1px solid red;
  margin: 1px 1px 1px 1px;
  padding: 0px 10px 0px 10px
  border-radius: 5px;
}
.tileblank {
  font-family: sans-serif;
  height: 50px;
  width: 10px;
  color: white;
  vertical-align: top;
  text-align: center;
  font-size: 10px;
  border: 1px solid orange;
  margin: 1px 1px 1px 1px;
  border-radius: 5px;
}
.tileboard {
  font-family: sans-serif;
  height: 50px;
  width: 50px;
  color: white;
  vertical-align: top;
  text-align: center;
  font-size: 10px;
  border: 1px solid green;
  margin: 1px 1px 1px 1px;
  border-radius: 25px;
}

.drop {

  animation: bounce 1500ms infinite ;
}

.tileboard:hover{
  cursor: pointer;
}
.tilechip {
  font-family: sans-serif;
  height: 50px;
  width: 50px;
  color: white;
  vertical-align: top;
  text-align: center;
  font-size: 10px;
  border: 1px solid blue;
  margin: 1px 1px 1px 1px;
  border-radius: 5px;
}


#left {
  font-family: sans-serif;
  height: 50px;
  width: 50px;
  color: white;
  vertical-align: top;
  text-align: center;
  font-size: 30px;
  border: 1px solid red;
  margin: 1px 1px 1px 1px;
  border-radius: 5px;
}

@keyframes drop {
  0%, 100% {
    bottom: 0;
    animation-timing-function: ease-out;
  }
  50% {
    bottom: 360px;
    animation-timing-function: ease-in;
  }
}
